<h1>Order Details</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="2">Order Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>First Name:</strong></td>
      <td><%= @order.first_name %></td>
    </tr>
    <tr>
      <td><strong>Last Name:</strong></td>
      <td><%= @order.last_name %></td>
    </tr>
    <tr>
      <td><strong>Email:</strong></td>
      <td><%= @order.email %></td>
    </tr>
    <tr>
      <td><strong>Address:</strong></td>
      <td><%= @order.address %></td>
    </tr>
    <tr>
      <td><strong>City:</strong></td>
      <td><%= @order.city %></td>
    </tr>
    <tr>
      <td><strong>Postal Code:</strong></td>
      <td><%= @order.postal_code %></td>
    </tr>
    <tr>
      <td><strong>Province:</strong></td>
      <td><%= @province.name %></td>
    </tr>
  </tbody>
</table>

<h2>Products</h2>
<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.price) %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2"><strong>Sub Total:</strong></td>
      <td><%= number_to_currency(@subtotal) %></td>
    </tr>
    <tr>
      <td colspan="2"><strong>GST:</strong></td>
      <td><%= number_to_currency(@gst) %></td>
    </tr>
    <tr>
      <td colspan="2"><strong>PST:</strong></td>
      <td><%= number_to_currency(@pst) %></td>
    </tr>
    <tr>
      <td colspan="2"><strong>HST:</strong></td>
      <td><%= number_to_currency(@hst) %></td>
    </tr>
    <tr>
      <td colspan="2"><strong>Total:</strong></td>
      <td><%= number_to_currency(@total) %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Checkout Payment', new_order_checkout_path(@order), class: 'btn btn-primary' %>
